html, body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  font-family: 'Courier';
  font-size: 12pt;
  line-height: 10pt;
}

canvas {
  display: block;
}

.ascii-container {
  font-family: monospace;
  white-space: pre;
  width: 100%; 
  display: inline-block;
}